## 4. DATA ANALYSIS (PART 2)

In [7]:
import pandas as pd
accidents_df = pd.read_csv("/Users/anshureddy/Desktop/dwproject/accidents_cleaned.csv")
accidents_df.head()

,ID,Start_Time,End_Time,State,City,Start_Lat,Start_Lng,Temperature(F),Weather_Condition,Hour
0,A-1,2016-02-08 05:46:00,2016-02-08 11:00:00,OH,Dayton,39.865147,-84.058723,36.9,Light Rain,5.0
1,A-2,2016-02-08 06:07:59,2016-02-08 06:37:59,OH,Reynoldsburg,39.928059,-82.831184,37.9,Light Rain,6.0
2,A-3,2016-02-08 06:49:27,2016-02-08 07:19:27,OH,Williamsburg,39.063148,-84.032608,36.0,Overcast,6.0
3,A-4,2016-02-08 07:23:34,2016-02-08 07:53:34,OH,Dayton,39.747753,-84.205582,35.1,Mostly Cloudy,7.0
4,A-5,2016-02-08 07:39:07,2016-02-08 08:09:07,OH,Dayton,39.627781,-84.188354,36.0,Mostly Cloudy,7.0

#### 4.3. Which weather conditions are associated with most accidents?

In [8]:
# Count the number of accidents under each unique weather condition
weather_accidents = accidents_df['Weather_Condition'].value_counts()
print("\nTop Weather Conditions by Accident Count:")

# Count the number of accidents under each unique weather condition
print(weather_accidents.head(10))

Top Weather Conditions by Accident Count:
Weather_Condition
Fair                2196786
Mostly Cloudy        921306
Clear                805417
Cloudy               712775
Partly Cloudy        633258
Overcast             381714
Light Rain           321239
Scattered Clouds     204104
Light Snow           112076
Fog                   87929
Name: count, dtype: int64

#### 4.4. Temperature vs Accidents (basic analysis)

In [9]:
# Print average temperature during accidents
print("\nTemperature Analysis:")
print(f"Average Temperature at Accident Time: {accidents_df['Temperature(F)'].mean():.2f} °F")

# Categorize accidents based on temperature ranges
# Cold: < 32°F, Moderate: 32–80°F, Hot: > 80°F
cold_accidents = accidents_df[accidents_df['Temperature(F)'] < 32].shape[0]
moderate_accidents = accidents_df[(accidents_df['Temperature(F)'] >= 32) & (accidents_df['Temperature(F)'] <= 80)].shape[0]
hot_accidents = accidents_df[accidents_df['Temperature(F)'] > 80].shape[0]

# Print the number of accidents in each temperature category
print(f"Accidents in cold (<32F): {cold_accidents}")
print(f"Accidents in moderate (32-80F): {moderate_accidents}")
print(f"Accidents in hot (>80F): {hot_accidents}")

Temperature Analysis:
Average Temperature at Accident Time: 61.70 °F
Accidents in cold (<32F): 480001
Accidents in moderate (32-80F): 5175765
Accidents in hot (>80F): 1149372

#### 4.5. Accident Duration Statistics

In [10]:
#Convert Start_Time and End_Time columns to datetime format
# This is necessary to perform time-based operations like calculating Duration

accidents_df['Start_Time'] = pd.to_datetime(accidents_df['Start_Time'], errors='coerce')
accidents_df['End_Time'] = pd.to_datetime(accidents_df['End_Time'], errors='coerce')

# Calculate accident duration in minutes
# Subtracting Start_Time from End_Time gives a timedelta object, then convert to minutes
accidents_df['Duration'] = (accidents_df['End_Time'] - accidents_df['Start_Time']).dt.total_seconds() / 60  # in minutes

# Display summary statistics for accident duration
print("\nAccident Duration Statistics (in minutes):")
print(accidents_df['Duration'].describe())

Accident Duration Statistics (in minutes):
count    6.805138e+06
mean     4.282940e+02
std      1.328626e+04
min      1.216667e+00
25%      3.000000e+01
50%      6.240000e+01
75%      1.225000e+02
max      2.812939e+06
Name: Duration, dtype: float64